@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
}

:root {
    --cor-preta-primaria : black;
    --cor-branca-secundaria :  #f6f6f6;
    --cor-azul-claro-tercenaria : #22d4fd;
    --cor-cinza-escuro-quaternaria: #161616;

    --fonte-primaria :'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

body{
    /* height:100vg; preenchendo todo espaço da tela */
    box-sizing: border-box; /*fazendo com oque o compenentes filhos não saiam do pai (Body)*/
    background-color: var(--cor-preta-primaria);
    color: var(--cor-branca-secundaria)
}

.cabecalho{
    background-color: var(--cor-cinza-escuro-quaternaria);
    padding: 3% 0 0 15%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-azul-claro-tercenaria);
    text-decoration: none;
}


/*Utilazando o flexBox para que*/
.apresentacao{
    /* margin: 10% 15%; */
    padding: 5% 15%;
    display: flex; /*colocando tudo que esta no pai em linha*/
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
   
}

/*Alterando tamanho do titulo*/
.apresentacao__conteudo__titulo{
    font-size: 2.3rem;
    font-size: 36px;
    font-family: var(--fonte-primaria);
}

.titulo-destaque{
    color: var(--cor-azul-claro-tercenaria);
}

.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__links{
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__link{
  
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 3px solid var(--cor-azul-claro-tercenaria);
    width: 50%;
    text-align: center;
    border-radius: 16px;
    font-size: 1.5rem;
    padding: 24px 0;
    color: var(--cor-branca-secundaria);
    text-decoration: none;
    font-family: var(--fonte-secundaria);
}

.apresentacao__links__link:hover{
    background-color: var(--cor-cinza-escuro-quaternaria);
}

.apresentacao__imagem{
    width: 50%;
}

.rodape{
    padding: 24px;
    color: var(--cor-azul-claro-tercenaria);
    background-color: var(--cor-cinza-escuro-quaternaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}



/*RESPONSIVIDADE*/
@media (max-width :1200px){

    .cabecalho{
        padding: 7%;
    }

    .cabecalho__menu{
        justify-content: center;
    }

    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
        
    }

    .apresentacao__conteudo{
        width: auto;
    }

}



/*ANOTAÇÕES

Ao definir o valor da propriedade display de um elemento como flex, criamos um contêiner flex, ou seja, passamos a utilizar o Flexbox. A partir desse ponto, todos os elementos que estão dentro do contêiner são chamados de elementos-filhos e apresentarão comportamentos padronizados.

Sabendo disso, marque a alternativa que apresente corretamente duas propriedades do Flexbox que quando utilizadas no elemento-pai, são responsáveis pelo espaçamento dos elementos-filhos:

Alternativa correta
Propriedades align-items e justify-content.

Correto! Ambas as propriedades fazem parte da estrutura do Flexbox e atuam no elemento-pai com a responsabilidade de espaçamento dos elementos-filhos.



Para que o projeto se adeque com a configuração do nevagador relacionado ao tamanho da fonte necessario trocar o px(pixel) pois é um valor fixo, para o rem(posição relativa). 16px equivale a 1rem

para que o tamanho do conteudo se adeque quando o tamnho for diferente é recomendado utilizar porcentagem ex: width: 50%;

*/